---
import { Icon } from 'astro-icon/components'
/*
import {
  getIconData,
  iconToSVG,
} from '../../node_modules/.pnpm/astro-icon@1.1.1/node_modules/@iconify/utils'
*/
import MainGridLayout from '../layouts/MainGridLayout.astro'
/* REMINDER: To install icon packages from Iconify, use pnpm i -D @iconify-json/{package_name} */
---
<style lang="scss">
    $table-heading-bg-color: oklch(0.86 0.1 var(--hue));
    $table-heading-color: oklch(0.35 0.1 var(--hue));
    $table-heading-border-color: oklch(0.35 0.15 var(--hue));
    
    $lc-red: 345;
    $tys-lime: 90;
    $pe-purple: 285;
    $ea-green: 135;
    $mdli-cyan: 180;
    $odlc-violet: 255;
    $hu-gray: 0;
    $md-blue: 225;
    
    $no-sat: 0%;
    $base-sat: 15%;
    $hover-sat: 75%;
    $active-sat: 55%;
    $mid-sat: 35%;
    
    $base-light: 80%;
    $hover-light: 85%;
    $active-light: 75%;
    $high-light: 90%;
    
    $lc-background-color: hsl($lc-red, $base-sat, $base-light);
    $tys-background-color: hsl($tys-lime, $base-sat, $base-light);
    $pe-background-color: hsl($pe-purple, $base-sat, $base-light);
    $ea-background-color: hsl($ea-green, $base-sat, $base-light);
    $mdli-background-color: hsl($mdli-cyan, $base-sat, $base-light);
    $odlc-background-color: hsl($odlc-violet, $base-sat, $base-light);
    $hu-background-color: hsl($hu-gray, $no-sat, $base-light);
    $md-background-color: hsl($md-blue, $base-sat, $base-light);

    $button-height: 3rem;
    $button-rowspan-2-height: $button-height * 2;

    // Headings and paragraph
    h1, h2, p {
        display: block;
    }

    h1, h2 {
        font-weight: bold;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    #schedule-menu-switch {
        rotation: 0deg;
        transition: rotate 0.5s;
    }

    #schedule-menu-switch:hover svg {
        rotate: 90deg;
    }

    // Schedule Settings Icon
    #schedule-settings-icon {
        rotate: 0deg;
        transition: rotate 0.5s;
    }

    // Subject Data Panel (Style for the panel that shows the subject data)
    #subject-data-panel {
        background-color: oklch(1.0 0.05 var(--hue));
        border-color: var(--primary);
        border-radius: 12px;
        border-width: 3px;
        // All possible border styles are: none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset
        border-style: inset;
        padding: 8px;
        padding-left: 16px;
        // transition: background-color ease-out 0.4s;
        // transition: border-color ease-out 0.2s;
    }

    html.dark #subject-data-panel {
        background-color: oklch(0.0 0.0 0);
    }

    #subject-data-panel.lc {
        background-color: hsl($lc-red, $mid-sat, $high-light);
        border-color: hsl($lc-red, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.lc {
        background-color: hsl($lc-red, $mid-sat, 100% - $base-light);
        border-color: hsl($lc-red, $hover-sat, 100% - $base-light);
    }
    
    #subject-data-panel.tys {
        background-color: hsl($tys-lime, $mid-sat, $high-light);
        border-color: hsl($tys-lime, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.tys {
        background-color: hsl($tys-lime, $mid-sat, 100% - $base-light);
        border-color: hsl($tys-lime, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.pe {
        background-color: hsl($pe-purple, $mid-sat, $high-light);
        border-color: hsl($pe-purple, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.pe {
        background-color: hsl($pe-purple, $mid-sat, 100% - $base-light);
        border-color: hsl($pe-purple, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.ea {
        background-color: hsl($ea-green, $mid-sat, $high-light);
        border-color: hsl($ea-green, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.ea {
        background-color: hsl($ea-green, $mid-sat, 100% - $base-light);
        border-color: hsl($ea-green, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.mdli {
        background-color: hsl($mdli-cyan, $mid-sat, $high-light);
        border-color: hsl($mdli-cyan, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.mdli {
        background-color: hsl($mdli-cyan, $mid-sat, 100% - $base-light);
        border-color: hsl($mdli-cyan, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.odlc {
        background-color: hsl($odlc-violet, $mid-sat, $high-light);
        border-color: hsl($odlc-violet, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.odlc {
        background-color: hsl($odlc-violet, $mid-sat, 100% - $base-light);
        border-color: hsl($odlc-violet, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.hu {
        background-color: hsl($hu-gray, $no-sat, $high-light);
        border-color: hsl($hu-gray, $no-sat, $base-light);
    }

    html.dark #subject-data-panel.hu {
        background-color: hsl($hu-gray, $no-sat, 100% - $base-light);
        border-color: hsl($hu-gray, $no-sat, 100% - $base-light);
    }

    #subject-data-panel.md {
        background-color: hsl($md-blue, $mid-sat, $high-light);
        border-color: hsl($md-blue, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.md {
        background-color: hsl($md-blue, $mid-sat, 100% - $base-light);
        border-color: hsl($md-blue, $hover-sat, 100% - $base-light);
    }

    #info-close-button svg {
        rotate: 0deg;
        display: block;
        margin: auto;
        transition: rotate 0.5s;
    }

    #info-close-button:hover {
        background-color: hsl(0, 0%, 100%);
        border: 2px solid hsl(0, 0%, 80%);
    }

    html.dark #info-close-button:hover {
        background-color: hsl(0, 0%, 10%);
        border: 2px solid hsl(0, 0%, 20%);
    }
    
    #info-close-button:active {
        background-color: hsl(0, 0%, 90%);
        border: 2px solid hsl(0, 0%, 70%);
    }

    html.dark #info-close-button:active {
        background-color: hsl(0, 0%, 20%);
        border: 2px solid hsl(0, 0%, 30%);
    }

    #info-close-button:hover svg {
        rotate: 90deg;
    }

    // Table and cells
    table, tr, td, th {
        border: solid black;
        border-collapse: collapse;
        border-width: 2px;
        text-align: center;
        padding: 8px;
        overflow: hidden;
    }
    
    td, th {
        width: 16.66%;
    }
    
    td {
        background-color: oklch(0.95 0.02 var(--hue));
        margin: 0;
        padding: 0;
    }

    html.dark td {
        background-color: oklch(0.2 0.0 0);
    }

    td:hover:not(:has(button)) {
        background-color: white;
    }

    html.dark td:hover:not(:has(button)) {
        background-color: black;
    }

    tr {
        height: $button-height;
    }
    
    table {
        width: 100%;
    }
    
    th {
        background-color: $table-heading-bg-color;
        color: $table-heading-color;
        border-color: $table-heading-border-color;
    }
    
    html.dark th {
        background-color: oklch(0.35 0.1 var(--hue));
        color: oklch(0.86 0.1 var(--hue));
    }

    html.dark table, html.dark tr, html.dark td, html.dark th {
        border-color: white;
    }

    // hour
    .hour {
        background-color: rgb(211, 211, 211);
    }

    html.dark .hour {
        background-color: rgb(44, 44, 44);
    }

    // subjects
    td.lc {
        background-color: $lc-background-color;
    }

    html.dark td.lc {
        background-color: hsl($lc-red, $mid-sat, 100% - $base-light);
    }

    td.tys {
        background-color: $tys-background-color;;
    }

    html.dark td.tys {
        background-color: hsl($tys-lime, $mid-sat, 100% - $base-light);
    }

    td.pe {
        background-color: $pe-background-color;
    }

    html.dark td.pe {
        background-color: hsl($pe-purple, $mid-sat, 100% - $base-light);
    }

    td.ea {
        background-color: $ea-background-color;
    }

    html.dark td.ea {
        background-color: hsl($ea-green, $mid-sat, 100% - $base-light);
    }

    td.mdli {
        background-color: $mdli-background-color;
    }

    html.dark td.mdli {
        background-color: hsl($mdli-cyan, $mid-sat, 100% - $base-light);
    }

    td.odlc {
        background-color: $odlc-background-color;
    }

    html.dark td.odlc {
        background-color: hsl($odlc-violet, $mid-sat, 100% - $base-light);
    }

    td.hu {
        background-color: $hu-background-color;
    }

    html.dark td.hu {
        background-color: hsl($hu-gray, $no-sat, 100% - $base-light);
    }

    td.md {
        background-color: $md-background-color;
    }

    html.dark td.md {
        background-color: hsl($md-blue, $mid-sat, 100% - $base-light);
    }

    // subject buttons
    td button {
        background-color: hsla($lc-red, $base-sat, $base-light, 0);
        display: block;
        width: 100%;
        height: $button-height;
        text-align: center;
        vertical-align: middle;
        padding: 4px;
        margin: 0;
        transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
    }

    td button.rowspan-2 {
        height: $button-rowspan-2-height;
    }

    td.lc button:hover {
        background-color: hsl($lc-red, $hover-sat, $hover-light);
    }

    html.dark td.lc button:hover {
        background-color: hsl($lc-red, $hover-sat, 100% - $hover-light);
    }

    td.lc button:active {
        background-color: hsl($lc-red, $active-sat, $active-light);
    }

    html.dark td.lc button:active {
        background-color: hsl($lc-red, $active-sat, 100% - $active-light);
    }

    td.tys button:hover {
        background-color: hsl($tys-lime, $hover-sat, $hover-light);
    }

    html.dark td.tys button:hover {
        background-color: hsl($tys-lime, $hover-sat, 100% - $hover-light);
    }

    td.tys button:active {
        background-color: hsl($tys-lime, $active-sat, $active-light);
    }

    html.dark td.tys button:active {
        background-color: hsl($tys-lime, $active-sat, 100% - $active-light);
    }

    td.pe button:hover {
        background-color: hsl($pe-purple, $hover-sat, $hover-light);
    }

    html.dark td.pe button:hover {
        background-color: hsl($pe-purple, $hover-sat, 100% - $hover-light);
    }

    td.pe button:active {
        background-color: hsl($pe-purple, $active-sat, $active-light);
    }

    html.dark td.pe button:active {
        background-color: hsl($pe-purple, $active-sat, 100% - $active-light);
    }

    td.ea button:hover {
        background-color: hsl($ea-green, $hover-sat, $hover-light);
    }

    html.dark td.ea button:hover {
        background-color: hsl($ea-green, $hover-sat, 100% - $hover-light);
    }

    td.ea button:active {
        background-color: hsl($ea-green, $active-sat, $active-light);
    }

    html.dark td.ea button:active {
        background-color: hsl($ea-green, $active-sat, 100% - $active-light);
    }

    td.mdli button:hover {
        background-color: hsl($mdli-cyan, $hover-sat, $hover-light);
    }

    html.dark td.mdli button:hover {
        background-color: hsl($mdli-cyan, $hover-sat, 100% - $hover-light);
    }

    td.mdli button:active {
        background-color: hsl($mdli-cyan, $active-sat, $active-light);
    }

    html.dark td.mdli button:active {
        background-color: hsl($mdli-cyan, $active-sat, 100% - $active-light);
    }

    td.odlc button:hover {
        background-color: hsl($odlc-violet, $hover-sat, $hover-light);
    }

    html.dark td.odlc button:hover {
        background-color: hsl($odlc-violet, $hover-sat, 100% - $hover-light);
    }

    td.odlc button:active {
        background-color: hsl($odlc-violet, $active-sat, $active-light);
    }

    html.dark td.odlc button:active {
        background-color: hsl($odlc-violet, $active-sat, 100% - $active-light);
    }

    td.hu button:hover {
        background-color: hsl($hu-gray, $no-sat, $hover-light);
    }

    html.dark td.hu button:hover {
        background-color: hsl($hu-gray, $no-sat, 100% - $hover-light);
    }

    td.hu button:active {
        background-color: hsl($hu-gray, $no-sat, $active-light);
    }

    html.dark td.hu button:active {
        background-color: hsl($hu-gray, $no-sat, 100% - $active-light);
    }

    td.md button:hover {
        background-color: hsl($md-blue, $hover-sat, $hover-light);
    }

    html.dark td.md button:hover {
        background-color: hsl($md-blue, $hover-sat, 100% - $hover-light);
    }

    td.md button:active {
        background-color: hsl($md-blue, $active-sat, $active-light);
    }

    html.dark td.md button:active {
        background-color: hsl($md-blue, $active-sat, 100% - $active-light);
    }
</style>

<MainGridLayout title="Horario" description="Horario">
    <div class="text-90 flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <!--Markdown class="mt-2">
                <Content />
            </Markdown-->
            <div class="flex w-full">
                <h1>Horario</h1>
                <button aria-label="Settings Menu" name="Schedule Settings Menu" class="btn-plain scale-animation rounded-lg w-11 h-11 active:scale-90" id="schedule-menu-switch" style="margin-left: auto;" onclick="scheduleSwitchButton();">
                    <Icon name="material-symbols:settings-rounded" class="text-[1.25rem]" id="schedule-settings-icon" is:inline></Icon>
                </button>
            </div>
            <hr>
            <!-- Este <div> será un panel donde podrás cambiar varias opciones, como seleccionar a que subgrupo perteneces, cuál tema te gustaría usar, entre otras opciones (talvez) -->
            <div id="schedule-settings-panel" style="display: none;">
                <div style="margin-top: 0.5rem;"></div>
                <h2>Configuración</h2>
                <div class="flex w-full">
                    <Icon name="material-symbols:group-rounded" class="text-[1.5rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p style="margin: auto 8px auto 0;"><b>Subgrupo</b>: </p>
                    <button class="flex transition whitespace-nowrap items-center w-full btn-plain scale-animation rounded-lg h-9 px-3 active:scale-95 mb-0.5" style="width: 64px; margin-right: 4px;" id="subgroup-one-button" onclick="setSubGroup('1');">1</button>
                    <button class="flex transition whitespace-nowrap items-center w-full btn-plain scale-animation rounded-lg h-9 px-3 active:scale-95 mb-0.5" style="width: 64px;" id="subgroup-two-button" onclick="setSubGroup('2');">2</button>
                </div>
                <div style="margin-bottom: 0.5rem;"></div>
                <hr>
            </div>
            <br>
            <table class="text-90" id="table-test">
                <tr>
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
                <tr>
                    <td class="hour">13:00 - 14:00</td>
                    <td class="lc">
                        <button onclick="showSubjectData(0, 13)">Lenguaje C</button>
                    </td>
                    <td rowspan="2" class="ea">
                        <button onclick="showSubjectData(1, 13)" class="rowspan-2">Estadística Avanzada</button>
                    </td>
                    <td rowspan="2" id="sub-ea-lc">
                        <button onclick="showSubjectData(2, 13)" class="rowspan-2">EA/LC</button>
                    </td>
                    <td rowspan="2" id="sub-odlc-pe">
                        <button onclick="showSubjectData(3, 13)" class="rowspan-2">ODLC/PE</button>
                    </td>
                    <td rowspan="2" class="lc">
                        <button onclick="showSubjectData(4, 13)" class="rowspan-2">Lenguaje C</button>
                    </td>
                </tr>
                <tr>
                    <td class="hour">14:00 - 15:00</td>
                    <td rowspan="2" class="tys">
                        <button onclick="showSubjectData(0, 14)" class="rowspan-2">Tecnología y Sociedad</button>
                    </td>
                </tr>
                <tr>
                    <td class="hour">15:00 - 16:00</td>
                    <td class="mdli">
                        <button onclick="showSubjectData(1, 15)" style="font-size: 0.85rem;">Metodología de la Investigación</button>
                    </td>
                    <td rowspan="2" id="sub-lc-ea">
                        <button onclick="showSubjectData(2, 15)" class="rowspan-2">LC/EA</button>
                    </td>
                    <td class="tys">
                        <button onclick="showSubjectData(3, 15)" style="font-size: 0.85rem;">Tecnología y Sociedad</button>
                    </td>
                    <td rowspan="2" class="mdli">
                        <button onclick="showSubjectData(4, 15)" class="rowspan-2">Metología de la Investigación</button>
                    </td>
                </tr>
                <tr>
                    <td class="hour">16:00 - 17:00</td>
                    <td rowspan="2" class="pe">
                        <button onclick="showSubjectData(0, 16)" class="rowspan-2">Programación Estructurada</button>
                    </td>
                    <td rowspan="2" id="sub-pe-odlc">
                        <button onclick="showSubjectData(1, 16)" class="rowspan-2">PE/ODLC</button>
                    </td>
                    <td class="hu">
                        <button onclick="showSubjectData(3, 16)" style="font-size: 0.85rem;">Hora Universitaria</button>
                    </td>
                </tr>
                <tr>
                    <td class="hour">17:00 - 18:00</td>
                    <td rowspan="2" class="odlc">
                        <button onclick="showSubjectData(2, 17)" class="rowspan-2">Organización de las Computadoras</button>
                    </td>
                    <td rowspan="2" class="md">
                        <button onclick="showSubjectData(3, 17)" class="rowspan-2">Matemáticas Discretas</button>
                    </td>
                    <td rowspan="2" class="md">
                        <button onclick="showSubjectData(4, 17)" class="rowspan-2">Matemáticas Discretas</button>
                    </td>
                </tr>
                <tr>
                    <td class="hour">18:00 - 19:00</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <br id="subject-data-pre-line-break" style="display: none;">
            <div class="w-full" id="subject-data-panel" style="display: none;">
                <!--hr>
                <br-->
                <div style="display: none;" id="current-day-selected-var">0</div>
                <div style="display: none;" id="current-hour-selected-var">13</div>
                <div class="flex w-full">
                    <!-- 'Asignatura' is placeholder -->
                    <h2>Información</h2>
                    <!-- An appropiate aria-label could be  -->
                    <button aria-label="test" name="test" class="scale-animation rounded-lg w-11 h-11 active:scale-90" id="info-close-button" style="margin-left: auto;" onclick="hideSubjectData();">
                        <Icon name="material-symbols:close-rounded" class="text-[1.25rem]" id="info-close-icon"></Icon>
                    </button>
                </div>
                <div class="flex w-full">
                    <Icon name="streamline:class-lesson-solid" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p><b>Asignatura: </b><span id="subject-data-name">A</span></p>
                </div>
                <div class="flex w-full">
                    <Icon name="material-symbols:calendar-today-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p><b>Día: </b><span id="subject-data-day">B</span></p>
                </div>
                <div class="flex w-full">
                    <Icon name="material-symbols:nest-clock-farsight-analog-outline-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p><b>Hora: </b><span id="subject-data-hour">C</span></p>
                </div>
                <div class="flex w-full" id="subject-data-teacher-div">
                    <Icon name="material-symbols:person" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p><b>Profesor: </b><span id="subject-data-teacher">D</span></p>
                </div>
                <div class="flex w-full" id="subject-data-classroom-div">
                    <Icon name="material-symbols:location-on-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p><b>Aula: </b><span id="subject-data-classroom">E</span></p>
                </div>
                <div class="flex w-full" id="subject-data-subgroup-div">
                    <Icon name="material-symbols:group-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p><b>Subgrupo: </b><span id="subject-data-subgroup">F</span></p>
                </div>
                <div class="flex w-full" id="subject-data-type-div">
                    <Icon name="material-symbols:category-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
                    <p><b>Tipo: </b><span id="subject-data-type">G</span></p>
                </div>
                <!--br-->
            </div>
            <!--hr-->
            <br>
            <!--p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, mollitia? Enim amet dignissimos error atque qui eveniet consequatur veritatis itaque rem est illum, ullam, culpa consequuntur dolorem cupiditate dolore nihil!</p>
            <p id="date-element">Fecha</p-->
        </div>
    </div>
</MainGridLayout>
<script is:inline>
console.log("schedule.astro");
console.log("subgroup: ", localStorage.getItem("subgroup"));
if (!localStorage.getItem("subgroup")) {
    localStorage.setItem("subgroup", "1");
}
applySubGroup(localStorage.getItem("subgroup"));
setupHours(window.matchMedia("(max-width: 768px)").matches);
// hideSubjectData();

// Call setupHours function when screen is resized
window.addEventListener("resize", function () {
    setupHours(window.matchMedia("(max-width: 768px)").matches);
});

// Muestra el dia de la semana (Lunes, Martes, etc.)
// document.getElementById("date-element").textContent = new Date().toLocaleDateString("es-ES", { weekday: "long" });

function setupHours(is_screen_medium) {
    // Get all elements with "hour" class, IF screen is medium, set their content to an hour (from 13:00 to 19:00), ELSE set their content to an hour (from 13:00 to 19:00) and a dash followed by the next hour
    let hours = document.getElementsByClassName("hour");
    if (hours) {
        for (let i = 0; i < hours.length; i++) {
            let hour = hours[i];
            if (is_screen_medium) {
                hour.textContent = `${13 + i}:00`;
            } else {
                hour.textContent = `${13 + i}:00 - ${14 + i}:00`;
            }
        }
    }
}

function scheduleSwitchButton() {
    let panel = document.getElementById("schedule-settings-panel");
    let scheduleSettingsIcon = document.getElementById("schedule-settings-icon");
    const settingsSVG = "M10.825 22q-.675 0-1.162-.45t-.588-1.1L8.85 18.8q-.325-.125-.612-.3t-.563-.375l-1.55.65q-.625.275-1.25.05t-.975-.8l-1.175-2.05q-.35-.575-.2-1.225t.675-1.075l1.325-1Q4.5 12.5 4.5 12.337v-.675q0-.162.025-.337l-1.325-1Q2.675 9.9 2.525 9.25t.2-1.225L3.9 5.975q.35-.575.975-.8t1.25.05l1.55.65q.275-.2.575-.375t.6-.3l.225-1.65q.1-.65.588-1.1T10.825 2h2.35q.675 0 1.163.45t.587 1.1l.225 1.65q.325.125.613.3t.562.375l1.55-.65q.625-.275 1.25-.05t.975.8l1.175 2.05q.35.575.2 1.225t-.675 1.075l-1.325 1q.025.175.025.338v.674q0 .163-.05.338l1.325 1q.525.425.675 1.075t-.2 1.225l-1.2 2.05q-.35.575-.975.8t-1.25-.05l-1.5-.65q-.275.2-.575.375t-.6.3l-.225 1.65q-.1.65-.587 1.1t-1.163.45zm1.225-6.5q1.45 0 2.475-1.025T15.55 12t-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12t1.013 2.475T12.05 15.5";
    const closeSVG = "m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z";
    if (panel) {
        if (panel.style.display === "none") {
            panel.style.display = "block";
            scheduleSettingsIcon.getElementsByTagName("path")[0].setAttribute("d", closeSVG);
        } else {
            panel.style.display = "none";
            scheduleSettingsIcon.getElementsByTagName("path")[0].setAttribute("d", settingsSVG);
        }
    }
}

function setSubGroup(subgroup) {
    localStorage.setItem("subgroup", subgroup);
    applySubGroup(subgroup);
}

function applySubGroup(subgroup) {
    // Buttons for subgroup selection
    let buttonOne = document.getElementById("subgroup-one-button");
    let buttonTwo = document.getElementById("subgroup-two-button");
    // Buttons for subject selection
    let subPeOdlc = document.getElementById("sub-pe-odlc");
    let subEaLc = document.getElementById("sub-ea-lc");
    let subLcEa = document.getElementById("sub-lc-ea");
    let subOdlcPe = document.getElementById("sub-odlc-pe");
    // Get current day and hour
    let currentDay = parseInt(document.getElementById("current-day-selected-var").textContent);
    let currentHour = parseInt(document.getElementById("current-hour-selected-var").textContent);
    if (buttonOne) {
        if (buttonTwo) {
            if (subgroup == '1') {
                console.log("Subgroup 1");
                // Change button styles
                buttonOne.classList.add("current-theme-btn");
                buttonTwo.classList.remove("current-theme-btn");
                // Change subject buttons
                subPeOdlc.classList.remove("odlc");
                subPeOdlc.classList.add("pe");
                subEaLc.classList.remove("lc");
                subEaLc.classList.add("ea");
                subLcEa.classList.remove("ea");
                subLcEa.classList.add("lc");
                subOdlcPe.classList.remove("pe");
                subOdlcPe.classList.add("odlc");
                // Change button text
                subPeOdlc.getElementsByTagName("button")[0].textContent = "Programación Estructurada";
                subEaLc.getElementsByTagName("button")[0].textContent = "Estadística Avanzada";
                subLcEa.getElementsByTagName("button")[0].textContent = "Lenguaje C";
                subOdlcPe.getElementsByTagName("button")[0].textContent = "Organización de las Computadoras";
            } else if (subgroup == '2') {
                console.log("Subgroup 2");
                // Change button styles
                buttonOne.classList.remove("current-theme-btn");
                buttonTwo.classList.add("current-theme-btn");
                // Change subject buttons
                subPeOdlc.classList.remove("pe");
                subPeOdlc.classList.add("odlc");
                subEaLc.classList.remove("ea");
                subEaLc.classList.add("lc");
                subLcEa.classList.remove("lc");
                subLcEa.classList.add("ea");
                subOdlcPe.classList.remove("odlc");
                subOdlcPe.classList.add("pe");
                // Change button text
                subPeOdlc.getElementsByTagName("button")[0].textContent = "Organización de las Computadoras";
                subEaLc.getElementsByTagName("button")[0].textContent = "Lenguaje C";
                subLcEa.getElementsByTagName("button")[0].textContent = "Estadística Avanzada";
                subOdlcPe.getElementsByTagName("button")[0].textContent = "Programación Estructurada";
            } else {
                console.error("Invalid subgroup: ", subgroup);
            }
        }
    }
    showSubjectData(currentDay, currentHour, false);
}

// NOTE: Will refactor this code, so functions regarding subjectData take a day and hour parameters instead of a subject id number

function getSubjectData(day = 0, hour = 13) {
    const DEFAULT_SUBJECT_DATA = {
        name: "Name",
        hour: "Hour",
        teacher: "Teacher",
        classroom: "Classroom",
        subgroup: "Subgroup",
        type: "Type"
    };
    switch (day) {
        case 0: // Monday
            switch (hour) {
                case 13: // 13:00 or 1:00PM
                    return {
                        tag: "lc",
                        name: "Lenguaje C",
                        hour: "13:00 - 14:00",
                        teacher: "Antillón Macías César",
                        classroom: "E45 - 301",
                        subgroup: "Ambos",
                        type: "Clase"
                    };
                case 14: case 15: // 14:00 or 2:00PM
                    return {
                        tag: "tys",
                        name: "Tecnología y Sociedad",
                        hour: "14:00 - 16:00",
                        teacher: "Rangel Lopez Claudia Margarita",
                        classroom: "E45 - 301",
                        subgroup: "Ambos",
                        type: "Taller"
                    };
                case 16: case 17: // 16:00 or 4:00PM
                    return {
                        tag: "pe",
                        name: "Programación Estructurada",
                        hour: "16:00 - 18:00",
                        teacher: "Nuñez Yepiz Pedro",
                        classroom: "E45 - 301",
                        subgroup: "Ambos",
                        type: "Taller"
                    }
                default:
                    return DEFAULT_SUBJECT_DATA;
            }
        case 1: // Tuesday
            switch (hour) {
                case 13: case 14: // 13:00 or 1:00PM
                    return {
                        tag: "ea",
                        name: "Estadística Avanzada",
                        hour: "13:00 - 15:00",
                        teacher: "Nieto Hipólito Juan Iván",
                        classroom: "E45 - 301",
                        subgroup: "Ambos",
                        type: "Clase"
                    };
                case 15: // 15:00 or 3:00PM
                    return {
                        tag: "mdli",
                        name: "Metodología de la Investigación",
                        hour: "15:00 - 16:00",
                        teacher: "López Sánchez Carlos Saul",
                        classroom: "E45 - 301",
                        subgroup: "Ambos",
                        type: "Clase"
                    };
                case 16: case 17: // 16:00 or 4:00PM
                    if (localStorage.getItem("subgroup") == '1') {
                        return {
                            tag: "pe",
                            name: "Programación Estructurada",
                            hour: "16:00 - 18:00",
                            teacher: "Nuñez Yepiz Pedro",
                            classroom: "E40 - A",
                            subgroup: "1",
                            type: "Laboratorio"
                        }
                    } else {
                        return {
                            tag: "odlc",
                            name: "Organización de las Computadoras",
                            hour: "16:00 - 18:00",
                            teacher: "Crespo Ragland Jonatan",
                            classroom: "E40 - B",
                            subgroup: "2",
                            type: "Laboratorio"
                        };
                    }
                default:
                    return DEFAULT_SUBJECT_DATA;
            }
        case 2: // Wednesday
            switch (hour) {
                case 13: case 14: // 13:00 or 1:00PM
                    if (localStorage.getItem("subgroup") == '1') {
                        return {
                            tag: "ea",
                            name: "Estadística Avanzada",
                            hour: "13:00 - 15:00",
                            teacher: "Nieto Hipólito Juan Iván",
                            classroom: "E40 - C",
                            subgroup: "1",
                            type: "Laboratorio"
                        };
                    } else {
                        return {
                            tag: "lc",
                            name: "Lenguaje C",
                            hour: "13:00 - 15:00",
                            teacher: "Antillón Macías César",
                            classroom: "E40 - B",
                            subgroup: "2",
                            type: "Laboratorio"
                        };
                    }
                case 15: case 16: // 15:00 or 3:00PM
                    if (localStorage.getItem("subgroup") == '1') {
                        return {
                            tag: "lc",
                            name: "Lenguaje C",
                            hour: "15:00 - 17:00",
                            teacher: "Antillón Macías César",
                            classroom: "E40 - C",
                            subgroup: "1",
                            type: "Laboratorio"
                        };
                    } else {
                        return {
                            tag: "ea",
                            name: "Estadística Avanzada",
                            hour: "15:00 - 17:00",
                            teacher: "Nieto Hipólito Juan Iván",
                            classroom: "E34 - LCO - ARQUITECTURA",
                            subgroup: "2",
                            type: "Laboratorio"
                        };
                    }
                case 17: case 18: // 17:00 or 5:00PM
                    return {
                        tag: "odlc",
                        name: "Organización de las Computadoras",
                        hour: "17:00 - 19:00",
                        teacher: "Crespo Ragland Jonatan",
                        classroom: "E1 - 207",
                        subgroup: "Ambos",
                        type: "Clase"
                    };
                default:
                    return DEFAULT_SUBJECT_DATA;
            }
        case 3: // Thursday
            switch (hour) {
                case 13: case 14: // 13:00 or 1:00PM
                    if (localStorage.getItem("subgroup") == '1') {
                        return {
                            tag: "odlc",
                            name: "Organización de las Computadoras",
                            hour: "13:00 - 15:00",
                            teacher: "Crespo Ragland Jonatan",
                            classroom: "E40 - B",
                            subgroup: "1",
                            type: "Laboratorio"
                        };
                    } else {
                        return {
                            tag: "pe",
                            name: "Programación Estructurada",
                            hour: "13:00 - 15:00",
                            teacher: "Nuñez Yepiz Pedro",
                            classroom: "E40 - A",
                            subgroup: "2",
                            type: "Laboratorio"
                        };
                    }
                case 15: // 15:00 or 3:00PM
                    return {
                        tag: "tys",
                        name: "Tecnología y Sociedad",
                        hour: "15:00 - 16:00",
                        teacher: "Rangel Lopez Claudia Margarita",
                        classroom: "E1 - 305",
                        subgroup: "Ambos",
                        type: "Clase"
                    };
                case 16: // 16:00 or 4:00PM
                    return {
                        tag: "hu",
                        name: "Hora Universitaria",
                        hour: "16:00 - 17:00",
                        teacher: "",
                        classroom: "",
                        subgroup: "",
                        type: ""
                    };
                case 17: case 18: // 17:00 or 5:00PM
                    return {
                        tag: "md",
                        name: "Matemáticas Discretas",
                        hour: "17:00 - 19:00",
                        teacher: "Crespo Ragland Jonatan",
                        classroom: "E1 - 301",
                        subgroup: "Ambos",
                        type: "Clase"
                    };
                default:
                    return DEFAULT_SUBJECT_DATA;
            }
        case 4: // Friday
            switch (hour) {
                case 13: case 14: // 13:00 or 1:00PM
                    return {
                        tag: "lc",
                        name: "Lenguaje C",
                        hour: "13:00 - 15:00",
                        teacher: "Antillón Macías César",
                        classroom: "E1 - 209",
                        subgroup: "Ambos",
                        type: "Taller"
                    };
                case 15: case 16: // 15:00 or 3:00PM
                    return {
                        tag: "mdli",
                        name: "Metodología de la Investigación",
                        hour: "15:00 - 17:00",
                        teacher: "López Sánchez Carlos Saul",
                        classroom: "E1 - 209",
                        subgroup: "Ambos",
                        type: "Taller"
                    };
                case 17: case 18: // 17:00 or 5:00PM
                    return {
                        tag: "md",
                        name: "Matemáticas Discretas",
                        hour: "17:00 - 19:00",
                        teacher: "Crespo Ragland Jonatan",
                        classroom: "E1 - 209",
                        subgroup: "Ambos",
                        type: "Taller"
                    };
                default:
                    return DEFAULT_SUBJECT_DATA;
            }
        default:
            return DEFAULT_SUBJECT_DATA;
    }
}

function updateSubjectDataPanel(subject_data, day) {
    let subjectDataName = document.getElementById("subject-data-name");
    let subjectDataDay = document.getElementById("subject-data-day");
    let subjectDataHour = document.getElementById("subject-data-hour");
    let subjectDataTeacher = document.getElementById("subject-data-teacher");
    let subjectDataClassroom = document.getElementById("subject-data-classroom");
    let subjectDataSubgroup = document.getElementById("subject-data-subgroup");
    let subjectDataType = document.getElementById("subject-data-type");
    if (subject_data) {
        subjectDataName.textContent = subject_data.name;
        subjectDataDay.textContent = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"][day];
        subjectDataHour.textContent = subject_data.hour;
        if (subject_data.teacher == "") {
            document.getElementById("subject-data-teacher-div").style.display = "none";
        } else {
            subjectDataTeacher.textContent = subject_data.teacher;
            document.getElementById("subject-data-teacher-div").style.display = "flex";
        }
        if (subject_data.classroom == "") {
            document.getElementById("subject-data-classroom-div").style.display = "none";
        } else {
            subjectDataClassroom.textContent = subject_data.classroom;
            document.getElementById("subject-data-classroom-div").style.display = "flex";
        }
        if (subject_data.subgroup == "") {
            document.getElementById("subject-data-subgroup-div").style.display = "none";
        } else {
            subjectDataSubgroup.textContent = subject_data.subgroup;
            document.getElementById("subject-data-subgroup-div").style.display = "flex";
        }
        if (subject_data.type == "") {
            document.getElementById("subject-data-type-div").style.display = "none";
        } else {
            subjectDataType.textContent = subject_data.type;
            document.getElementById("subject-data-type-div").style.display = "flex";
        }
    }
}

function showSubjectData(day = 0, hour = 13, display = true) {
    const SUBJECT_DATA = getSubjectData(day, hour);
    updateSubjectDataPanel(SUBJECT_DATA, day);
    let subjectDataPanel = document.getElementById("subject-data-panel");
    let currentDaySelectedVar = document.getElementById("current-day-selected-var");
    let currentHourSelectedVar = document.getElementById("current-hour-selected-var");
    let subjectDataPreLineBreak = document.getElementById("subject-data-pre-line-break");
    if (subjectDataPreLineBreak) {
        if (display) {
            console.log("Debug: Showing pre-line break!");
            subjectDataPreLineBreak.style.display = "inline";
        }
    }
    if (subjectDataPanel) {
        if (display) {
            subjectDataPanel.style.display = "block";
        }
        removeSubjectDataClasses(subjectDataPanel);
        if (SUBJECT_DATA.tag) {
            subjectDataPanel.classList.add(SUBJECT_DATA.tag);
        }
        if (subjectDataPanel.getBoundingClientRect().bottom > window.innerHeight) {
            subjectDataPanel.scrollIntoView({ behavior: "smooth", block: "end" });
        }
    }
    if (currentDaySelectedVar) {
        currentDaySelectedVar.textContent = day;
    }
    if (currentHourSelectedVar) {
        currentHourSelectedVar.textContent = hour;
    }
}

function hideSubjectData() {
    let subjectDataPanel = document.getElementById("subject-data-panel");
    let subjectDataPreLineBreak = document.getElementById("subject-data-pre-line-break");
    if (subjectDataPanel) {
        subjectDataPanel.style.display = "none";
        removeSubjectDataClasses(subjectDataPanel);
    }
    if (subjectDataPreLineBreak) {
        console.log("Debug: Hiding pre-line break!");
        subjectDataPreLineBreak.style.display = "none";
    }
}

function removeSubjectDataClasses(subjectDataPanel) {
    if (subjectDataPanel) {
        subjectDataPanel.classList.remove("lc", "tys", "pe", "ea", "mdli", "odlc", "hu", "md");
    }
}
</script>
