---
import { Icon } from 'astro-icon/components'
// import { getEntry } from 'astro:content'
// import Markdown from '@components/misc/Markdown.astro'
import MainGridLayout from '../layouts/MainGridLayout.astro'

// const schedulePost = await getEntry('spec', 'schedule')

// const { Content } = await schedulePost.render()
---
<style>
    h1, h2 {
        display: block;
        font-weight: bold;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        margin-left: auto;
    }

    p {
        display: block;
    }

    table, tr, td, th {
        border: solid black;
        border-collapse: collapse;
        border-width: 2px;
        text-align: center;
        padding: 8px;
        overflow: hidden;
    }

    td, th {
        width: 16.66%;
    }

    #schedule-settings-icon {
        rotate: 0deg;
        transition: rotate 0.5s;
    }
    
    table {
        width: 100%;
    }
    
    th {
        background-color: oklch(0.86 0.1 var(--hue));
        color: oklch(0.35 0.1 var(--hue));
        border-color: oklch(0.35 0.15 var(--hue))
    }
    
    html.dark th {
        background-color: oklch(0.35 0.1 var(--hue));
        color: oklch(0.86 0.1 var(--hue));
    }

    html.dark table, html.dark tr, html.dark td, html.dark th {
        border-color: white;
    }

    .hour {
        background-color: lightgray;
    }

    html.dark .hour {
        background-color: dimgray;
    }

    td.lc {
        background-color: hsl(345, 60%, 80%);
    }

    td.tys {
        background-color: hsl(90, 61%, 80%)
    }

    td.pe {
        background-color: hsl(285, 61%, 80%);
    }

    td.ea {
        background-color: hsl(135, 61%, 80%);
    }

    td.mdli {
        background-color: hsl(180, 61%, 80%);
    }

    td.odlc {
        background-color: hsl(255, 61%, 80%);
    }

    td.hu {
        background-color: hsl(0, 0%, 80%);
    }

    td.md {
        background-color: hsl(255, 60%, 80%);
    }
</style>

<MainGridLayout title="Horario" description="Horario">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <!--Markdown class="mt-2">
                <Content />
            </Markdown-->
            <div class="text-90 flex w-full">
                <h1>Horario</h1>
                <button aria-label="Settings Menu" name="Schedule Settings Menu" class="btn-plain scale-animation rounded-lg w-11 h-11 active:scale-90" id="schedule-menu-switch" style="margin-left: auto;" onclick="scheduleSwitchButton();" onmouseenter="scheduleMouseEnter();" onmouseleave="scheduleMouseLeave();">
                    <Icon name="material-symbols:settings-rounded" class="text-[1.25rem]" id="schedule-settings-icon"></Icon>
                </button>
            </div>
            <hr>
            <!-- Este <div> será un panel donde podrás cambiar varias opciones, como seleccionar a que subgrupo perteneces, cuál tema te gustaría usar, entre otras opciones (talvez) -->
            <div class="text-90" id="schedule-settings-panel" style="display: none;">
                <div style="margin-top: 0.5rem;"></div>
                <h2>Configuración</h2>
                <div class="flex w-full">
                    <p style="margin: auto 8px auto 0;"><b>Subgrupo</b>: </p>
                    <button class="flex transition whitespace-nowrap items-center w-full btn-plain scale-animation rounded-lg h-9 px-3 active:scale-95 mb-0.5 current-theme-btn" style="width: 128px; margin-right: 8px;">1</button>
                    <button class="flex transition whitespace-nowrap items-center w-full btn-plain scale-animation rounded-lg h-9 px-3 active:scale-95 mb-0.5" style="width: 128px;">2</button>
                </div>
                <div style="margin-bottom: 0.5rem;"></div>
                <hr>
            </div>
            <br>
            <table class="text-90" id="table-test">
                <tr>
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
                <tr>
                    <td class="hour">13:00 - 14:00</td>
                    <td class="lc">LC</td>
                    <td rowspan="2" class="ea">EA</td>
                    <td rowspan="2" class="ea">EA/LC</td>
                    <td rowspan="2" class="odlc">ODLC/PE</td>
                    <td rowspan="2" class="lc">LC</td>
                </tr>
                <tr>
                    <td class="hour">14:00 - 15:00</td>
                    <td rowspan="2" class="tys">TYS</td>
                </tr>
                <tr>
                    <td class="hour">15:00 - 16:00</td>
                    <td class="mdli">MDLI</td>
                    <td rowspan="2" class="lc">LC/EA</td>
                    <td class="tys">TYS</td>
                    <td rowspan="2" class="mdli">MDLI</td>
                </tr>
                <tr>
                    <td class="hour">16:00 - 17:00</td>
                    <td rowspan="2" class="pe">PE</td>
                    <td rowspan="2" class="pe">PE/ODLC</td>
                    <td class="hu">HU</td>
                </tr>
                <tr>
                    <td class="hour">17:00 - 18:00</td>
                    <td rowspan="2" class="odlc">ODLC</td>
                    <td rowspan="2" class="md">MD</td>
                    <td rowspan="2" class="md">MD</td>
                </tr>
                <tr>
                    <td class="hour">18:00 - 19:00</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</MainGridLayout>

<script is:inline>
function scheduleSwitchButton() {
    let panel = document.getElementById("schedule-settings-panel");
    if (panel) {
        if (panel.style.display === "none") {
            panel.style.display = "block";
        } else {
            panel.style.display = "none";
        }
    }
}

function scheduleMouseEnter() {
    let icon = document.getElementById("schedule-settings-icon");
    if (icon) {
        icon.style.rotate = "90deg";
    }
}

function scheduleMouseLeave() {
    let icon = document.getElementById("schedule-settings-icon");
    if (icon) {
        icon.style.rotate = "0deg";
    }
}

/*
function loadButtonScript() {
    console.log("Debug: Loading button script!")
    let menuBtn = document.getElementById("schedule-menu-switch");
    if (menuBtn) {
        menuBtn.addEventListener("click", function () {
            return;
        });
    }
}


loadButtonScript();

document.addEventListener('astro:after-swap', loadButtonScript, { once: false });
*/
</script>
