---
import { Icon } from 'astro-icon/components'
---
<style lang="scss">
    $table-heading-bg-color: oklch(0.86 0.1 var(--hue));
    $table-heading-color: oklch(0.35 0.1 var(--hue));
    $table-heading-border-color: oklch(0.35 0.15 var(--hue));
    
    $lc-red: 345;
    $tys-lime: 90;
    $pe-purple: 285;
    $ea-green: 135;
    $mdli-cyan: 180;
    $odlc-violet: 255;
    $hu-gray: 0;
    $md-blue: 225;
    
    $no-sat: 0%;
    $base-sat: 15%;
    $hover-sat: 75%;
    $active-sat: 55%;
    $mid-sat: 35%;
    
    $base-light: 80%;
    $hover-light: 85%;
    $active-light: 75%;
    $high-light: 90%;
    
    $lc-background-color: hsl($lc-red, $base-sat, $base-light);
    $tys-background-color: hsl($tys-lime, $base-sat, $base-light);
    $pe-background-color: hsl($pe-purple, $base-sat, $base-light);
    $ea-background-color: hsl($ea-green, $base-sat, $base-light);
    $mdli-background-color: hsl($mdli-cyan, $base-sat, $base-light);
    $odlc-background-color: hsl($odlc-violet, $base-sat, $base-light);
    $hu-background-color: hsl($hu-gray, $no-sat, $base-light);
    $md-background-color: hsl($md-blue, $base-sat, $base-light);

    $button-height: 3rem;
    $button-rowspan-2-height: $button-height * 2;

    // Headings and paragraph
    h1, h2, p {
        display: block;
    }

    h1, h2 {
        font-weight: bold;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    #schedule-menu-switch-button {
        rotation: 0deg;
        transition: rotate 0.5s;
    }

    #schedule-menu-switch-button:hover svg {
        rotate: 90deg;
    }

    // Schedule Settings Icon
    #schedule-settings-icon {
        rotate: 0deg;
        transition: rotate 0.5s;
    }

    // Subject Data Panel (Style for the panel that shows the subject data)
    #subject-data-panel {
        background-color: oklch(1.0 0.05 var(--hue));
        border-color: var(--primary);
        border-radius: 12px;
        border-width: 3px;
        // All possible border styles are: none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset
        border-style: inset;
        padding: 8px;
        padding-left: 16px;
        // transition: background-color ease-out 0.4s;
        // transition: border-color ease-out 0.2s;
    }

    html.dark #subject-data-panel {
        background-color: oklch(0.0 0.0 0);
    }

    #subject-data-panel.lc {
        background-color: hsl($lc-red, $mid-sat, $high-light);
        border-color: hsl($lc-red, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.lc {
        background-color: hsl($lc-red, $mid-sat, 100% - $base-light);
        border-color: hsl($lc-red, $hover-sat, 100% - $base-light);
    }
    
    #subject-data-panel.tys {
        background-color: hsl($tys-lime, $mid-sat, $high-light);
        border-color: hsl($tys-lime, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.tys {
        background-color: hsl($tys-lime, $mid-sat, 100% - $base-light);
        border-color: hsl($tys-lime, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.pe {
        background-color: hsl($pe-purple, $mid-sat, $high-light);
        border-color: hsl($pe-purple, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.pe {
        background-color: hsl($pe-purple, $mid-sat, 100% - $base-light);
        border-color: hsl($pe-purple, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.ea {
        background-color: hsl($ea-green, $mid-sat, $high-light);
        border-color: hsl($ea-green, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.ea {
        background-color: hsl($ea-green, $mid-sat, 100% - $base-light);
        border-color: hsl($ea-green, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.mdli {
        background-color: hsl($mdli-cyan, $mid-sat, $high-light);
        border-color: hsl($mdli-cyan, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.mdli {
        background-color: hsl($mdli-cyan, $mid-sat, 100% - $base-light);
        border-color: hsl($mdli-cyan, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.odlc {
        background-color: hsl($odlc-violet, $mid-sat, $high-light);
        border-color: hsl($odlc-violet, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.odlc {
        background-color: hsl($odlc-violet, $mid-sat, 100% - $base-light);
        border-color: hsl($odlc-violet, $hover-sat, 100% - $base-light);
    }

    #subject-data-panel.hu {
        background-color: hsl($hu-gray, $no-sat, $high-light);
        border-color: hsl($hu-gray, $no-sat, $base-light);
    }

    html.dark #subject-data-panel.hu {
        background-color: hsl($hu-gray, $no-sat, 100% - $base-light);
        border-color: hsl($hu-gray, $no-sat, 100% - $base-light);
    }

    #subject-data-panel.md {
        background-color: hsl($md-blue, $mid-sat, $high-light);
        border-color: hsl($md-blue, $hover-sat, $base-light);
    }

    html.dark #subject-data-panel.md {
        background-color: hsl($md-blue, $mid-sat, 100% - $base-light);
        border-color: hsl($md-blue, $hover-sat, 100% - $base-light);
    }

    #info-close-button svg {
        rotate: 0deg;
        display: block;
        margin: auto;
        transition: rotate 0.5s;
    }

    #info-close-button:hover {
        background-color: hsl(0, 0%, 100%);
        border: 2px solid hsl(0, 0%, 80%);
    }

    html.dark #info-close-button:hover {
        background-color: hsl(0, 0%, 10%);
        border: 2px solid hsl(0, 0%, 20%);
    }
    
    #info-close-button:active {
        background-color: hsl(0, 0%, 90%);
        border: 2px solid hsl(0, 0%, 70%);
    }

    html.dark #info-close-button:active {
        background-color: hsl(0, 0%, 20%);
        border: 2px solid hsl(0, 0%, 30%);
    }

    #info-close-button:hover svg {
        rotate: 90deg;
    }

    // Table and cells
    table, tr, td, th {
        border: solid black;
        border-collapse: collapse;
        border-width: 2px;
        text-align: center;
        padding: 8px;
        overflow: hidden;
    }
    
    td, th {
        width: 16.66%;
    }
    
    td {
        background-color: oklch(0.95 0.02 var(--hue));
        margin: 0;
        padding: 0;
    }

    html.dark td {
        background-color: oklch(0.2 0.0 0);
    }

    td:hover:not(:has(button)) {
        background-color: white;
    }

    html.dark td:hover:not(:has(button)) {
        background-color: black;
    }

    tr {
        height: $button-height;
    }
    
    table {
        width: 100%;
    }
    
    th {
        background-color: $table-heading-bg-color;
        color: $table-heading-color;
        border-color: $table-heading-border-color;
    }
    
    html.dark th {
        background-color: oklch(0.35 0.1 var(--hue));
        color: oklch(0.86 0.1 var(--hue));
    }

    html.dark table, html.dark tr, html.dark td, html.dark th {
        border-color: white;
    }

    // hour
    .hour {
        background-color: rgb(211, 211, 211);
    }

    html.dark .hour {
        background-color: rgb(44, 44, 44);
    }

    // subjects
    td.lc {
        background-color: $lc-background-color;
    }

    html.dark td.lc {
        background-color: hsl($lc-red, $mid-sat, 100% - $base-light);
    }

    td.tys {
        background-color: $tys-background-color;;
    }

    html.dark td.tys {
        background-color: hsl($tys-lime, $mid-sat, 100% - $base-light);
    }

    td.pe {
        background-color: $pe-background-color;
    }

    html.dark td.pe {
        background-color: hsl($pe-purple, $mid-sat, 100% - $base-light);
    }

    td.ea {
        background-color: $ea-background-color;
    }

    html.dark td.ea {
        background-color: hsl($ea-green, $mid-sat, 100% - $base-light);
    }

    td.mdli {
        background-color: $mdli-background-color;
    }

    html.dark td.mdli {
        background-color: hsl($mdli-cyan, $mid-sat, 100% - $base-light);
    }

    td.odlc {
        background-color: $odlc-background-color;
    }

    html.dark td.odlc {
        background-color: hsl($odlc-violet, $mid-sat, 100% - $base-light);
    }

    td.hu {
        background-color: $hu-background-color;
    }

    html.dark td.hu {
        background-color: hsl($hu-gray, $no-sat, 100% - $base-light);
    }

    td.md {
        background-color: $md-background-color;
    }

    html.dark td.md {
        background-color: hsl($md-blue, $mid-sat, 100% - $base-light);
    }

    // subject buttons
    td button {
        background-color: hsla($lc-red, $base-sat, $base-light, 0);
        display: block;
        width: 100%;
        height: $button-height;
        text-align: center;
        vertical-align: middle;
        padding: 4px;
        margin: 0;
        transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
    }

    td button.rowspan-2 {
        height: $button-rowspan-2-height;
    }

    td.lc button:hover {
        background-color: hsl($lc-red, $hover-sat, $hover-light);
    }

    html.dark td.lc button:hover {
        background-color: hsl($lc-red, $hover-sat, 100% - $hover-light);
    }

    td.lc button:active {
        background-color: hsl($lc-red, $active-sat, $active-light);
    }

    html.dark td.lc button:active {
        background-color: hsl($lc-red, $active-sat, 100% - $active-light);
    }

    td.tys button:hover {
        background-color: hsl($tys-lime, $hover-sat, $hover-light);
    }

    html.dark td.tys button:hover {
        background-color: hsl($tys-lime, $hover-sat, 100% - $hover-light);
    }

    td.tys button:active {
        background-color: hsl($tys-lime, $active-sat, $active-light);
    }

    html.dark td.tys button:active {
        background-color: hsl($tys-lime, $active-sat, 100% - $active-light);
    }

    td.pe button:hover {
        background-color: hsl($pe-purple, $hover-sat, $hover-light);
    }

    html.dark td.pe button:hover {
        background-color: hsl($pe-purple, $hover-sat, 100% - $hover-light);
    }

    td.pe button:active {
        background-color: hsl($pe-purple, $active-sat, $active-light);
    }

    html.dark td.pe button:active {
        background-color: hsl($pe-purple, $active-sat, 100% - $active-light);
    }

    td.ea button:hover {
        background-color: hsl($ea-green, $hover-sat, $hover-light);
    }

    html.dark td.ea button:hover {
        background-color: hsl($ea-green, $hover-sat, 100% - $hover-light);
    }

    td.ea button:active {
        background-color: hsl($ea-green, $active-sat, $active-light);
    }

    html.dark td.ea button:active {
        background-color: hsl($ea-green, $active-sat, 100% - $active-light);
    }

    td.mdli button:hover {
        background-color: hsl($mdli-cyan, $hover-sat, $hover-light);
    }

    html.dark td.mdli button:hover {
        background-color: hsl($mdli-cyan, $hover-sat, 100% - $hover-light);
    }

    td.mdli button:active {
        background-color: hsl($mdli-cyan, $active-sat, $active-light);
    }

    html.dark td.mdli button:active {
        background-color: hsl($mdli-cyan, $active-sat, 100% - $active-light);
    }

    td.odlc button:hover {
        background-color: hsl($odlc-violet, $hover-sat, $hover-light);
    }

    html.dark td.odlc button:hover {
        background-color: hsl($odlc-violet, $hover-sat, 100% - $hover-light);
    }

    td.odlc button:active {
        background-color: hsl($odlc-violet, $active-sat, $active-light);
    }

    html.dark td.odlc button:active {
        background-color: hsl($odlc-violet, $active-sat, 100% - $active-light);
    }

    td.hu button:hover {
        background-color: hsl($hu-gray, $no-sat, $hover-light);
    }

    html.dark td.hu button:hover {
        background-color: hsl($hu-gray, $no-sat, 100% - $hover-light);
    }

    td.hu button:active {
        background-color: hsl($hu-gray, $no-sat, $active-light);
    }

    html.dark td.hu button:active {
        background-color: hsl($hu-gray, $no-sat, 100% - $active-light);
    }

    td.md button:hover {
        background-color: hsl($md-blue, $hover-sat, $hover-light);
    }

    html.dark td.md button:hover {
        background-color: hsl($md-blue, $hover-sat, 100% - $hover-light);
    }

    td.md button:active {
        background-color: hsl($md-blue, $active-sat, $active-light);
    }

    html.dark td.md button:active {
        background-color: hsl($md-blue, $active-sat, 100% - $active-light);
    }
</style>
<div class="flex w-full">
    <h1>Horario</h1>
    <button aria-label="Settings Menu" name="Schedule Settings Menu" class="btn-plain scale-animation rounded-lg w-11 h-11 active:scale-90" id="schedule-menu-switch-button" style="margin-left: auto;">
        <Icon name="material-symbols:settings-rounded" class="text-[1.25rem]" id="schedule-settings-icon" is:inline></Icon>
    </button>
</div>
<hr>
<!-- Este <div> será un panel donde podrás cambiar varias opciones, como seleccionar a que subgrupo perteneces, cuál tema te gustaría usar, entre otras opciones (talvez) -->
<div id="schedule-settings-panel" style="display: none;">
    <div style="margin-top: 0.5rem;"></div>
    <h2>Configuración</h2>
    <div class="flex w-full">
        <Icon name="material-symbols:group-rounded" class="text-[1.5rem]" style="margin: auto 8px auto 0;"></Icon>
        <p style="margin: auto 8px auto 0;"><b>Subgrupo</b>: </p>
        <button class="flex transition whitespace-nowrap items-center w-full btn-plain scale-animation rounded-lg h-9 px-3 active:scale-95 mb-0.5" style="width: 64px; margin-right: 4px;" id="subgroup-one-button" onclick="setSubGroup('1');">1</button>
        <button class="flex transition whitespace-nowrap items-center w-full btn-plain scale-animation rounded-lg h-9 px-3 active:scale-95 mb-0.5" style="width: 64px;" id="subgroup-two-button" onclick="setSubGroup('2');">2</button>
    </div>
    <div style="margin-bottom: 0.5rem;"></div>
    <hr>
</div>
<br>
<table class="text-90" id="table-test">
    <tr>
        <th>Hora</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    <tr>
        <td class="hour">13:00 - 14:00</td>
        <td class="lc">
            <button onclick="showSubjectData(0, 13)">Lenguaje C</button>
        </td>
        <td rowspan="2" class="ea">
            <button onclick="showSubjectData(1, 13)" class="rowspan-2">Estadística Avanzada</button>
        </td>
        <td rowspan="2" id="sub-ea-lc">
            <button onclick="showSubjectData(2, 13)" class="rowspan-2">EA/LC</button>
        </td>
        <td rowspan="2" id="sub-odlc-pe">
            <button onclick="showSubjectData(3, 13)" class="rowspan-2">ODLC/PE</button>
        </td>
        <td rowspan="2" class="lc">
            <button onclick="showSubjectData(4, 13)" class="rowspan-2">Lenguaje C</button>
        </td>
    </tr>
    <tr>
        <td class="hour">14:00 - 15:00</td>
        <td rowspan="2" class="tys">
            <button onclick="showSubjectData(0, 14)" class="rowspan-2">Tecnología y Sociedad</button>
        </td>
    </tr>
    <tr>
        <td class="hour">15:00 - 16:00</td>
        <td class="mdli">
            <button onclick="showSubjectData(1, 15)" style="font-size: 0.85rem;">Metodología de la Investigación</button>
        </td>
        <td rowspan="2" id="sub-lc-ea">
            <button onclick="showSubjectData(2, 15)" class="rowspan-2">LC/EA</button>
        </td>
        <td class="tys">
            <button onclick="showSubjectData(3, 15)" style="font-size: 0.85rem;">Tecnología y Sociedad</button>
        </td>
        <td rowspan="2" class="mdli">
            <button onclick="showSubjectData(4, 15)" class="rowspan-2">Metología de la Investigación</button>
        </td>
    </tr>
    <tr>
        <td class="hour">16:00 - 17:00</td>
        <td rowspan="2" class="pe">
            <button onclick="showSubjectData(0, 16)" class="rowspan-2">Programación Estructurada</button>
        </td>
        <td rowspan="2" id="sub-pe-odlc">
            <button onclick="showSubjectData(1, 16)" class="rowspan-2">PE/ODLC</button>
        </td>
        <td class="hu">
            <button onclick="showSubjectData(3, 16)" style="font-size: 0.85rem;">Hora Universitaria</button>
        </td>
    </tr>
    <tr>
        <td class="hour">17:00 - 18:00</td>
        <td rowspan="2" class="odlc">
            <button onclick="showSubjectData(2, 17)" class="rowspan-2">Organización de las Computadoras</button>
        </td>
        <td rowspan="2" class="md">
            <button onclick="showSubjectData(3, 17)" class="rowspan-2">Matemáticas Discretas</button>
        </td>
        <td rowspan="2" class="md">
            <button onclick="showSubjectData(4, 17)" class="rowspan-2">Matemáticas Discretas</button>
        </td>
    </tr>
    <tr>
        <td class="hour">18:00 - 19:00</td>
        <td></td>
        <td></td>
    </tr>
</table>
<br id="subject-data-pre-line-break" style="display: none;">
<div class="w-full" id="subject-data-panel" style="display: none;">
    <!--hr>
    <br-->
    <div style="display: none;" id="current-day-selected-var">0</div>
    <div style="display: none;" id="current-hour-selected-var">13</div>
    <div class="flex w-full">
        <!-- 'Asignatura' is placeholder -->
        <h2>Información</h2>
        <!-- An appropiate aria-label could be  -->
        <button aria-label="test" name="test" class="scale-animation rounded-lg w-11 h-11 active:scale-90" id="info-close-button" style="margin-left: auto;" onclick="hideSubjectData();">
            <Icon name="material-symbols:close-rounded" class="text-[1.25rem]" id="info-close-icon"></Icon>
        </button>
    </div>
    <div class="flex w-full">
        <Icon name="streamline:class-lesson-solid" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
        <p><b>Asignatura: </b><span id="subject-data-name">A</span></p>
    </div>
    <div class="flex w-full">
        <Icon name="material-symbols:calendar-today-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
        <p><b>Día: </b><span id="subject-data-day">B</span></p>
    </div>
    <div class="flex w-full">
        <Icon name="material-symbols:nest-clock-farsight-analog-outline-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
        <p><b>Hora: </b><span id="subject-data-hour">C</span></p>
    </div>
    <div class="flex w-full" id="subject-data-teacher-div">
        <Icon name="material-symbols:person" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
        <p><b>Profesor: </b><span id="subject-data-teacher">D</span></p>
    </div>
    <div class="flex w-full" id="subject-data-classroom-div">
        <Icon name="material-symbols:location-on-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
        <p><b>Aula: </b><span id="subject-data-classroom">E</span></p>
    </div>
    <div class="flex w-full" id="subject-data-subgroup-div">
        <Icon name="material-symbols:group-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
        <p><b>Subgrupo: </b><span id="subject-data-subgroup">F</span></p>
    </div>
    <div class="flex w-full" id="subject-data-type-div">
        <Icon name="material-symbols:category-rounded" class="text-[1rem]" style="margin: auto 8px auto 0;"></Icon>
        <p><b>Tipo: </b><span id="subject-data-type">G</span></p>
    </div>
    <!--br-->
</div>
<!--hr-->
<br>
<script>
/*
import {
    getIconData,
    iconToSVG,
} from '../../node_modules/.pnpm/astro-icon@1.1.1/node_modules/@iconify/utils'
*/
/*
function setupEventListeners(code: number) {
    console.log("Setting up event listeners (code: " + code + ")");
    let scheduleMenuSwitchButton = document.getElementById("schedule-menu-switch-button");
    if (scheduleMenuSwitchButton) {
        scheduleMenuSwitchButton.addEventListener("click", function() {
            switchScheduleSettingsPanelDisplay(code);
        });
    }
}

function switchScheduleSettingsPanelDisplay(code: number) {
    console.log("Switching schedule settings panel display (code: " + code + ")");
    let scheduleSettingsPanel = document.getElementById("schedule-settings-panel");
    if (scheduleSettingsPanel) {
        console.log("Schedule settings panel found");
        if (scheduleSettingsPanel.style.display === "none") {
            scheduleSettingsPanel.style.display = "block";
        } else {
            scheduleSettingsPanel.style.display = "none";
        }
    }
}

console.log("Setting up event listeners from script");
setupEventListeners(0);

document.addEventListener('astro:after-swap', () => {
    console.log("Setting up event listeners from astro:after-swap");
    setupEventListeners(1);
}, { once: false });

document.addEventListener('astro:page-load', () => {
    console.log("Setting up event listeners from astro:page-load");
    setupEventListeners(2);
}, { once: false });
*/
</script>